# -*- mode: gitignore; -*-
el-get-user
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

tmp
el-get
elpa
custom.el
user.el
private